.onoffswitch {
    float: left;
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 12px; color: black; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 6px;
    background: rgba(18,205,247,1);
    background: -moz-linear-gradient(left, rgba(18,205,247,1) 0%, rgba(131,12,147,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18,205,247,1)), color-stop(100%, rgba(131,12,147,1)));
    background: -webkit-linear-gradient(left, rgba(18,205,247,1) 0%, rgba(131,12,147,1) 100%);
    background: -o-linear-gradient(left, rgba(18,205,247,1) 0%, rgba(131,12,147,1) 100%);
    background: -ms-linear-gradient(left, rgba(18,205,247,1) 0%, rgba(131,12,147,1) 100%);
    background: linear-gradient(to right, rgba(18,205,247,1) 0%, rgba(131,12,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12cdf7', endColorstr='#830c93', GradientType=1 );
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(189,187,189,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(189,187,189,1)));
    background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(189,187,189,1) 100%);
    background: -o-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(189,187,189,1) 100%);
    background: -ms-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(189,187,189,1) 100%);
    background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(189,187,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#bdbbbd', GradientType=1 );
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; height: 15px;
    right: 29px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 1px; 
}
.blur{
    filter: blur(3px);
}
#myTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #70707075; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  #myTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
 