
.content-card {
    background: $white;
    padding: 30px;
    border: 1px solid #eceff1;
    @include border-radius(10px);
    position: relative;
    margin: 0 0 30px;

    @media (max-width: $breakpoint-xs) {
        padding: 25px 15px;
    }

    &.purple {
        background: $primarycolor;

        &::before {
            @include background-color($primarycolor, 0.25);
        }
    }

    &.blue {
        background: $secondarycolor;

        &::before {
            @include background-color($secondarycolor, 0.22);
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 10%;
        top: 40%;
        right: 10%;
        bottom: -20px;
        @include background-color($black-0, 0.12);
        @include filter (blur,40px);
        z-index: -1;
    }
}