
.panel-heading:hover {
    z-index:9999;
    cursor:move;
}
  

  
.grid-stack-item-content {
    background: #FFF;
    border-color:rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
  