// Asset Path
$assetPath : "../images";
$fontPath : "../webfonts";

/* Font Family */
$roboto: 'Roboto', sans-serif;

/* Colors  */
$primarycolor: #7A0C8C;
$secondarycolor: #05D6FB;
$white: #ffffff;
$navy: #1C1E5E;
$black: #333333;
$gray: #737B83;
$lightblue: #EDF5FF;

$secondarybg: #F3895E;
$offwhite: #BEC6D6;
$darkgray: #f1f1f1;
$blue: #162C58;

$black-0: #000000;
$red: #E9241D;
$green: #44EB5A;

// Media quaries breakpoints.
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1700px;