/* Scss Document */

.blog-detail {
	position: relative;
	padding: 15px 0;
    
    h1, h2, h3, h4, h5, h6 {
        color: $navy;
    }
    
	.content-wrap {
		background-color: $white;
		
		h1 {
			font-size: 32px;
		}

		h2 {
			font-size: 28px;
		}

		h3 {
			font-size: 22px;
		}

		h4 {
			font-size: 20px;
		}

		h5 {
			font-size: 18px;	
		}

		h6 {
			font-size: 16px;
		}

		h1, h2, h3 {
			margin: 0 0 25px;
		}

		h4, h5, h6 {
			margin: 0 0 15px;
		}

		p {
			font-size: 14px;
			margin: 0 0 10px;
		}

		img {
			margin: 0 0 30px;
		}
		
		ul {
			margin: 0 0 30px;
			
			li {
				padding-left: 30px;
				position: relative;
				line-height: 30px;
				font-size: 14px;
				
				&:before {
					content: ".";
					position: absolute;
				    left: 13px;
				    top: -4px;
					color: $secondarycolor;
					font-size: 50px;
					line-height: 0px;
				}
			}
		}
	}
    
    .left-content-col {
        border-right: 1px solid rgba(0,0,0,0.07);

        @media (max-width: $breakpoint-md) {
            border: none;
        }
    }
    
	.right-bar {
		
		@media (max-width: $breakpoint-md) {
			margin: 20px 0 0;
		}
		
		ul {
			margin: 0 0 30px;
			
			li {
				padding-left: 20px;
				position: relative;
				line-height: 22px;
				font-size: 14px;
				margin: 0 0 5px;
				
				&:before {
					content: ".";
					position: absolute;
				    left: 3px;
				    top: -5px;
					color: $primarycolor;
					font-size: 50px;
					line-height: 0px;
				}
				
				a {
					color: $black;
				}
			}
		}
		
		.similar-post {
			margin: 0 0 15px;
			
			.image-wrap {
				height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
			}
			
			.similar-post-content {
				padding: 0 0 8px 15px;
				
				h6 {
					margin: 0 0 5px;
				}
				
				p {
					font-size: 13px;
					margin: 0px;
				}
				
				.more {
					font-size: 12px;
					font-weight: 400;
					color: $primarycolor;
					text-decoration: underline;
				}
			}
		}
		
		.blog-tag-list {
			margin: 20px 0 0;

			li {
				display: inline-block;
				margin: 0 0 10px;
				padding: 0;

				a {
					background-color: $darkgray;
					color: $black;
					font-size: 12px;
					padding: 5px 15px;
					border-radius: 20px;

					&:hover {
						background-color: $primarycolor;
						color: $white;
					}
				}
				
				&:before {
					display: none;
				}
			}
		}
	}
}