.inner-banner {

    &.feeds-page {

        &::before {
            background-image:url(#{$assetPath}/Group1424.svg);
        }
    }
}

.feed-list {
    position: relative;
    padding: 70px 0;

    @media (max-width: $breakpoint-sm) {
        padding: 30px 0;
    }

    .advance-search {
        position: relative;
        margin-bottom: 30px;
        padding: 25px 15px 10px;
        background: $lightblue;

    }

    .drag-list {
        width: 100%;
        margin: 0 auto;

        li {
            position: relative;
            background: $white;
            @include flexbox();
            @include justify-content(space-between);
            margin: 0 0 12px;
            -webkit-touch-callout: none; 
            -webkit-user-select: none;   
            -khtml-user-select: none;   
            -moz-user-select: none;     
            -ms-user-select: none;      
            user-select: none; 
            @include box-shadow(0px, 0px, 5px, rgba(28,30,94,0.12));
            overflow: hidden;
            cursor: pointer;

            .content, .drag-area {
                @include flexbox();
                @include flex-direction(column);
            }

            .content {
                padding: 5px 5px 5px 10px;
                @include transition(1s);
                @include calc (width, '100% - 22px');
                
                &.active {
                    padding: 5px 120px 5px 10px;
                    @include transition(1s);
                    
                    @media (max-width: $breakpoint-xs) {
                        padding: 5px 5px 25px 10px;
                    }
                }

                h2 {
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;
                    margin: 0 0 5px;
                }

                h5 {
                    font-family: $roboto;
                    font-size:12px;
                    line-height: 24px;
                    font-weight: 300;
                    color: $gray;
                    text-transform: capitalize;
                    margin: 0 0 5px;
    
                    span{
                        margin-bottom: 2px;
                        display: inline-grid;
                        margin-right: 2px;

                        img{
                            max-width:10px; 
                        }
                    }
                }
            }

            .drag-area {
                position: relative;
                width: 22px;
                @include justify-content(flex-start);
                @include flex-direction(row);
                @include align-items(center);
                padding: 5px 5px 5px 10px;

                @media (max-width: $breakpoint-xs) {
                    position: static;
                }

                a {
                    cursor: pointer;
                    padding: 0 8px;

                    img {
                        max-width: 18px;
                    }
                }

                .button-wrap {
                    position: absolute;
                    right: -100px;
                    top: 0;
                    bottom: 0;
                    background: $lightblue; 
                    padding: 0 10px;
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    @include transition (1s);

                    @media (max-width: $breakpoint-xs) {
                        @include justify-content(space-around);
                        top: inherit;
                        height: 26px;
                        right: -1000px;;
                    }

                    &.show {
                        right: 22px;
                        @include transition (1s);

                        @media (max-width: $breakpoint-xs) {
                            width: 100%;
                        }
                    }
                }

                .drag-move {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 22px;
                    z-index: 99;
                    background-image: url(#{$assetPath}/move.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: #e6fbff;
                    cursor: move;
                }
            }
        }
    }
}